<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Create Company</title>
	</head>
	<body>
		<header>
			<h1>Company successfully registered</h1>
		</header>
		<main>
			<p>Hi {{ name }}</p>
			<p>
				Your comapny {{ company }} is successfully registered with our system
				and pending for internal verification. We will inform you once its done.
			</p>
		</main>
	</body>
</html>
