<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Document</title>
	</head>
	<body>
		<header>
			<h1>Password Reset Request</h1>
		</header>
		<main>
			<h3>Hi, {{ name }}</h3>
			<p>
				We got a password reset request for your account. Your password reset
				token is http://localhost:3000/reset-password/{{ token }}.
			</p>
			<p>
				If you not made this request please contact us.
			</p>
		</main>
	</body>
</html>
