<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Task Update</title>
    </head>
    <body>
        <header>
            <h1>{{ task_title }}</h1>
        </header>
        <main>
            <p>Hi {{ name }}</p>
            <p>
                {{ task_title }} task of the {{ workflow_name }} workflow has been
                {% if is_started %}
                started
                {% elif is_completed %}
                completed
                {% else %}
                updated
                {% endif %}
                .
            </p>
        </main>
    </body>
</html>
