<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Verification mail</title>
	</head>
	<body>
		<header>
			<h1>Account created</h1>
		</header>
		<main>
			<p>Hi {{ name }}</p>
			<p>
				Your account is successfully created. Use the token http://localhost:3000/invitation/{{ token }} to
				verify your account.
			</p>
		</main>
	</body>
</html>
